@import 'primeicons/primeicons.css';

/* @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Medium';
  src: url('../fonts/Rubik/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik SemiBold';
  src: url('../fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Bold';
  src: url('../fonts/Rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Black';
  src: url('../fonts/Rubik/Rubik-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* @layer tailwind-base, primevue, tailwind-utilities; */

/* @layer tailwind-base { */
/* } */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary and Surface Palettes */
:root {
  --p-primary-50: 239 246 255; /* blue-50 */
  --p-primary-100: 219 234 254; /* blue-100 */
  --p-primary-200: 191 219 254; /* blue-200 */
  --p-primary-300: 147 197 253; /* blue-300 */
  --p-primary-400: 96 165 250; /* blue-400 */
  --p-primary-500: 59 130 246; /* blue-500 */
  --p-primary-600: 37 99 235; /* blue-600 */
  --p-primary-700: 29 78 216; /* blue-700 */
  --p-primary-800: 30 64 175; /* blue-800 */
  --p-primary-900: 30 58 138; /* blue-900 */
  --p-primary-950: 23 37 84;
  --p-surface-0: 255 255 255;
  --p-surface-50: 250 250 250;
  --p-surface-100: 244 244 245;
  --p-surface-200: 228 228 231;
  --p-surface-300: 212 212 216;
  --p-surface-400: 161 161 170;
  --p-surface-500: 113 113 122;
  --p-surface-600: 82 82 91;
  --p-surface-700: 63 63 70;
  --p-surface-800: 39 39 42;
  --p-surface-900: 24 24 27;
  --p-surface-950: 9 9 11;
  --p-content-border-radius: 6px;
}

/* Light Mode */
:root {
  --p-primary-color: rgb(var(--p-primary-500));
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* Dark Mode */
:root.p-dark {
  --p-primary-color: var(--p-primary-400);
  --p-primary-contrast-color: var(--p-surface-900);
  --p-primary-hover-color: var(--p-primary-300);
  --p-primary-active-color: var(--p-primary-200);
  --p-content-border-color: var(--p-surface-700);
  --p-content-hover-background: var(--p-surface-800);
  --p-content-hover-color: var(--p-surface-0);
  --p-highlight-background: color-mix(
    in srgb,
    rgb(var(--p-primary-400)),
    transparent 84%
  );
  --p-highlight-color: rgba(255, 255, 255, 0.87);
  --p-highlight-focus-background: color-mix(
    in srgb,
    rgb(var(--p-primary-400)),
    transparent 76%
  );
  --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
  --p-text-color: var(--p-surface-0);
  --p-text-hover-color: var(--p-surface-0);
  --p-text-muted-color: var(--p-surface-400);
  --p-text-hover-muted-color: var(--p-surface-300);
}
